*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(webPic.jpg);
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 95%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 120px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: aliceblue;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}
.navbar ul li:hover:after{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: aliceblue;
}
.content h1{
    font-size: 50px;
    margin-top: 80px;
}
.content p{
    font-family: "Playwrite AU VIC", cursive;
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: aliceblue;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
} 
.skills-section{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(webPic4.jpg);
    background-size: cover;
    background-position: center;
    border: 5px solid rgb(69, 85, 80);
    margin: 0;
}
.skills-section h2{
    text-align: center;
    margin-top: 0;
    font-size: 50px;
    font-family: "Nabla";
    color: #6987eab7;
    padding: 20px;
}
.skills-section hr{
    margin: 20px 500px;
    height: 1.2px;
    border: 0;
    background-color:  #6987eab7;
}
.skills-container {
    display: flex;
    justify-content: space-around; 
    align-items: flex-start; 
    flex-wrap: wrap;
}
.skills-1, .skills-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

.skills-1 ul, .skills-2 ul {
    list-style-type: none;
    line-height: 1.5; 
}
.skills-section ul{
    color: #009688;
    font-size: 2rem;
    text-align: center;
    line-height: 2;
}
.c-icon {
    width: 160px;
    height: auto; 
    margin: 20px;
    padding-right: 20px;
    
}
.cpp-icon{
    width: 180px;
    height: auto;
    margin-top: 25px;
    margin-right: 20px;
}
.python-icon{
    width: 80px;
    height: auto;
    margin-top: 70px;
    margin-bottom: 50px; 
    padding-right: 60px;
    padding-left: 40px;
  
}
.sql-icon{
    width: 130px;
    height: auto;
    margin-top: 30px;
    padding-right: 35px;
}
.oop-icon{
    width: 130px;
    height: auto;
    margin-top: 40px;
    padding-right: 35px;
}
.dsa-icon{
    width: 150px;
    height: auto;
    margin-top: 20px;
    padding-right: 20px;
}


.skills-container li {
    display: flex;
    align-items: center;
    margin-right: 50px;
    margin-bottom: 30px; 
}
.python-icon,.star{
    margin-left: 20px;
}
.skills-container img.c-icon,
.skills-container img.cpp-icon,
.skills-container img.python-icon{
    margin-right: 10px; 
    margin-left: 0px;
}
.skills-container img.sql-icon,
.skills-container img.oop-icon,
.skills-container img.dsa-icon{
    margin-left: 10px;
}

.skills-container img.star {
    margin-right: 2px;
    width: 60px;
    height: auto;
}


.projects-section {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(webPic2.jpg);
    background-size: cover;
    background-position: center;
    border: 5px solid rgb(69, 85, 80);
    margin: 0;
}

.projects-section h2 {
    text-align: center;
    margin-top: 0;
    font-size: 50px;
    font-family: "Nabla";
    color: #23395d;
    padding: 45px;
}

.projects-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.project {
    background-color: #15202b;
    background: transparent;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin: 10px;
    text-align: center;
    overflow: hidden;
}

.project img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.project h3 {
    margin: 10px 0;
    font-size: 1.5em;
    color:  #5bbabf;
}

.project p {
    
    font-family: "Playwrite NG Modern", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bold;
    padding: 0 20px 5px;
    color: aliceblue;
}
.about_section {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(webPic3.jpg);
    background-size: cover;
    background-position: center;
    border: 5px solid rgb(69, 85, 80);
    margin: 0;
}
.about_section h2{
    color: rgb(69, 155, 164);
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.5rem;
    margin: 40px;
}
.about_box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   }
.about_section hr{
    margin: 20px 500px;
    height: 1.2px;
    border: 0;
    background-color:  rgb(69, 155, 164);
}
.about_box p{
    display: block; 
    justify-content: space-around;
    background-color: #1d1c3e;
    border: 3px solid #6d7476;
    background: transparent;
    border-radius: 10px; 
    width: 950px;
    padding: 20px;
    margin: 10px;
    text-align: justify; 
    overflow: hidden;
    font-size: 1.5rem;
    line-height: 2;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: oblique;
    color: #fff;
}
footer {
    width: 100%;
    height: 250px;
    padding: 20px 0;
    background-color: #040c1b;
    text-align: center;
    color: rgb(186, 210, 233);
    position: relative;
    bottom: 0;
    border:  3px solid #6d7476;;
}
.footer-content .logo{
    display: grid;
    margin-right: 50px;
}
.footer-content {
    max-width: 1200px;
    margin: auto;
    margin-bottom: 30px;
}

.footer-content p {
    margin: 10px 0;
    font-family: "Playwrite AU VIC", cursive;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    margin: 0 10px;
    text-decoration: none;
    color: aliceblue;
}
.social-icons img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: transparent;
    transition: transform 0.3s;
}

.social-icons img:hover {
    transform: scale(1.2);
}
.footer-bottom{
    margin: 0;
}

